# =========================
# MySQL Configuration
# =========================
MYSQL_ROOT_PASSWORD=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DB=
MYSQL_PORT=3307

# =========================
# PostgreSQL Configuration
# =========================
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=5433

# =========================
# Service URLs
# =========================
BOOK_SERVICE_URL=http://book-api:8000
BOOK_API_URL=http://localhost:8000
ORDER_API_URL=http://localhost:8080